.AuthorProfileCard {
  width: 100%;
  z-index: 22222;
  margin-top: 5rem;
}

.AuthorProfileCard_box {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1.3fr;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  gap: 1.5rem;
  margin-top: -190px;
}
.AuthorProfileCard_box_img {
  /* margin-top: -280px; */
  z-index: 500;
}
.AuthorProfileCard_box_img_img {
  border-radius: 1rem;
}
.AuthorProfileCard_box_info,
.AuthorProfileCard_box_share {
  margin-top: 9.5rem;
}

.AuthorProfileCard_box_info h2 {
  font-size: 2rem;
  margin-top: -0.5rem;
}
.AuthorProfileCard_box_info h2 svg {
  font-size: 20px;
  margin-left: 3px;
  color: var(--secondary-color);
}

.AuthorProfileCard_box_info_address {
  margin: 8px 0px;
}

.AuthorProfileCard_box_info_address input {
  outline: none;
  width: 35%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 4px 2px;
}

.AuthorProfileCard_box_info_address_icon {
  transition: all 0.3s ease-in;
  margin-left: 4px;
  font-size: 14px;
}

.AuthorProfileCard_box_info_address_icon:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--secondary-color);
}

.AuthorProfileCard_box_info p {
  font-size: 1.1rem;
  /* line-height: 1; */
  color: hsla(0, 0%, 100%, 0.4);
  width: 90%;
}

.AuthorProfileCard_box_info_social {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.AuthorProfileCard_box_info_social a {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 50%;
  display: grid;
  padding: 0.5rem;
  border: 1px solid var(--icons-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.AuthorProfileCard_box_info_social a:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg-color);
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
}

.AuthorProfileCard_box_share {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 2rem;
  position: relative;
}

.AuthorProfileCard_box_share_icon {
  font-size: 22px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: var(--primary-color);
  cursor: pointer;
  position: relative;
}

.AuthorProfileCard_box_share_upload {
  position: absolute;
  padding: 0.5rem;
  width: 15rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
  background-color: var(--primary-color);
  right: 0;
  top: 5rem;
  z-index: 1111111;
}

.AuthorProfileCard_box_share_upload p {
  display: flex;
  align-items: center;
  /* line-height: 0; */
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 0.3rem 0.5rem;
}

.AuthorProfileCard_box_share_upload p:hover {
  background-color: var(--secondary-color);
  color: var(--main-bg-color);
  border-radius: 0.2rem;
}

.AuthorProfileCard_box_share_upload span {
  font-size: 1.5rem;
}

.AuthorProfileCard_box_share_report {
  position: absolute;
  padding: 0.5rem;
  width: 10rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
  background-color: var(--primary-color);
  right: 0;
  top: 4rem;
  z-index: 111111;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AuthorProfileCard_box_share_report:hover {
  color: var(--secondary-color);
}

.AuthorProfileCard_box_share_report p {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.3rem;
  font-size: 1.5rem;
}
.AuthorProfileCard_box_share_report svg {
  margin-right: 2px;
  font-size: 18px;
}

@media screen and (max-width: 35em) {
  .AuthorProfileCard_box {
    width: 90%;
    grid-template-columns: 1fr;
    padding: 0.5rem 0.5rem 1.5rem;
    gap: 1rem;
  }
  .AuthorProfileCard_box_img {
    width: 50%;
  }

  .AuthorProfileCard_box_info h2 {
    font-size: 2rem;
  }

  .AuthorProfileCard_box_info_address input {
    width: 85%;
  }

  .AuthorProfileCard_box_info p {
    font-size: 1rem;
    /* line-height: 1.4; */
    width: 90%;
  }
  .AuthorProfileCard_box_info_social {
    padding: 0 2rem;
  }

  .AuthorProfileCard_box_share {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 1rem;
    gap: 1rem;
  }

  .AuthorProfileCard_box_share_icon {
    font-size: 2rem;
  }

  .AuthorProfileCard_box_share_upload {
    left: 9rem;
  }

  .AuthorProfileCard_box_share_report {
    left: 9rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .AuthorProfileCard_box {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
}
