.Error {
  background: var(--primary-color);
  position: fixed;
  top: 20px;
  /* left: -100%; */
  /* left: 0; */
  width: 20rem;
  /* border-top-right-radius: 12px;
  border-bottom-right-radius: 12px; */
  border-bottom: 2px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  transition: all 500ms ease;
}

.Error_open {
  left: 0;
}
.Error_close {
  left: 100%;
}

.Error_box {
  padding: 10px;
}
.Error_box_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.close {
  font-size: 18px !important;
  color: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 500ms ease;
  cursor: pointer;
}

.close:hover {
  color: #fff !important;
}

.Error_box_info svg {
  font-size: 25px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.Error_box_info p {
  color: hsla(0, 0%, 100%, 0.53);
  font-size: 14px;
  line-height: 22px;
}
