.Brand {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.Brand_box {
  /* width: 80%; */
  width: 70%;
  height: 50%;
  background-color: var(--secondary-color);
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.Brand_box_left h1 {
  color: #161616;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  margin-bottom: 30px;
  max-width: 330px;
  position: relative;
  z-index: 10;
}

.Brand_box_left p {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: #161616;
}

.Brand_box_left_btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.Brand_box_btn {
  color: black;
}

.Brand_box_right {
  margin-top: 6px;
}

.Brand_box_right_img {
  border-radius: 12px;
  /* width: 60%; */
  /* height: 60%; */
}

@media screen and (max-width: 35em) {
  .Brand_box {
    grid-template-columns: 1fr;
  }

  .Brand_box_left h1 {
    font-size: 2.5rem;
  }
  .Brand_box_left p {
    margin-top: -0.5rem;
  }
  .Brand_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 2rem;
  }
  .Brand_box_right_img {
    width: 90%;
    height: 90%;
  }
  .Brand_box_right {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2px;
  }
}
