.helpCenter {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: hsla(0, 0%, 100%, 0.53);
}

.helpCenter:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.3rem;
}
